<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wddyxd.orderservice.mapper.FinancialFlowMapper"> <!-- 替换为你的实际包路径 -->


    <select id="countActivePayment" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM financial_flow
        WHERE order_id = ?
        AND trade_type = 2
        AND status IN (0, 1)
        AND is_deleted = 0
        FOR UPDATE;
    </select>
    <select id="countActiveRefund" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM financial_flow
        WHERE order_id = ?
        AND trade_type = 3
        AND status IN (0, 1)
        AND is_deleted = 0
        FOR UPDATE;
    </select>
</mapper>