<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wddyxd.orderservice.mapper.OrderMainMapper"> <!-- 替换为你的实际包路径 -->

    <resultMap id="ProductProfileMap" type="com.wddyxd.orderservice.pojo.VO.OrderProfileVO">
        <id column="id" property="id"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="product_id" property="productId"/>
        <result column="sku_id" property="skuId"/>
        <result column="quantity" property="quantity"/>
        <result column="product_name" property="productName"/>
        <result column="sku_specs" property="skuSpecs"/>
        <result column="logo" property="logo"/>
        <result column="total_price" property="totalPrice"/>
        <result column="pay_price" property="payPrice"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="common_get">
        SELECT
        om.*, ps.logo
        FROM
        order_main om
        LEFT JOIN
        product_sku ps ON om.sku_id = ps.id AND ps.is_deleted = 0
    </sql>

    <sql id="common_where">
        om.is_deleted = 0
        <if test="search != null and search != ''">
            AND (
            om.product_name LIKE CONCAT('%', #{search}, '%')
            OR om.sku_specs LIKE CONCAT('%', #{search}, '%')
            OR om.id = #{search}
            )
        </if>
    </sql>

    <select id="listUser" resultMap="ProductProfileMap">
        <include refid="common_get"/>
        WHERE
        <include refid="common_where"/>
        ORDER BY
        om.create_time DESC
    </select>

    <select id="listMerchant" resultMap="ProductProfileMap">
        <include refid="common_get"/>
        WHERE
        <include refid="common_where"/>
        ORDER BY
        om.create_time DESC
    </select>

    <select id="listAdmin" resultMap="ProductProfileMap">
        <include refid="common_get"/>
        WHERE
        <include refid="common_where"/>
        ORDER BY
        om.create_time DESC
    </select>

</mapper>