server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/items-assigner?useSSL=false&allowPublicKeyRetrieval=true&useAffectedRows=true
    username: root
    password: Aa1341512355
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
  application:
    name: user-service
  data:
    redis:
      host: localhost
      port: 6379
      database: 3
      lettuce:
        pool:
          max-active: 20
          max-idle: 10
          min-idle: 5
          max-wait: 2000ms
mybatis-plus:
  type-aliases-package: com.wddyxd.userservice.pojo
  mapper-locations: classpath*:mapper/*.xml
eureka:
  client:
    service-url:
      defaultZone: http://localhost:10086/eureka/
token:
  signKey: 123456
  expiration: 86400000
logging:
  config: classpath:logback-dev.xml